body{
    background-color: rgb(133, 133, 133);
}

h1{
    color:white;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

.grid-item{
    background-color: brown;
}

.grid-item1{
    background-color: blue;
}